
body {
    height: 100vh;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}

.brand {
    font-size: 24px;
    font-weight: bold;
    color: #F9FAF8;
    display: flex;
    align-items: center;
    gap: 5px;
}

.right-links {
    display: flex;
    align-items: center;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
}

.main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #F9FAF8;
}

.secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    width: 100px;
}

.hero-image {
    width: 400px;
}

.button {
    color: white;
    background-color: #3882f6;
    border-radius: 4px;
    box-shadow: none;
    padding: 8px 20px;
    border: none;
    transition-duration: 0.4s;
    font-size: 16px;
    font-weight: bold;
}

.button:hover {
    background-color: #c9d0de;
    color: gray;
}