
body {
    height: 100vh;
    margin: 0 10%;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.hero {
    background-color: #1F2937;
}

.logo {
    width: 100px;
}

.hero-image {
    width: 400px;
}