
body {
    height: 100vh;
    margin: 0 10%;
    overflow: hidden;
    font-family: Roboto, sans-serif;
    display: flex;
}

.hero {
    display: flex;
}

.header {
    display: flex;
    align-items: center;
}

.logo {
    width: 100px;
}

.hero-image {
    width: 400px;
}